<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <div class="container">
    <div class="game-type">
      <ul>
        <li>
          <input type="radio" id="single-player" name="game-type" value="single" onclick="selectGameType(this)">
          <label for="single-player">Single Player</label>
        </li>
        <li>
          <input type="radio" id="multi-player" name="game-type" value="multi" onclick="selectGameType(this)">
          <label for="multi-player">Multi Player</label>
        </li>
      </ul>
    </div>

    <div class="game-play hidden">
      <div class="select-player">
        <ul>
          <li>
            <input type="radio" id="x-player" name="player" value="x" onclick="selectPlayer(this)" checked>
            <label for="x-player">X</label>
            <div class="check"></div>
          </li>
          <li>
            <input type="radio" id="o-player" name="player" value="o" onclick="selectPlayer(this)">
            <label for="o-player">O</label>
            <div class="check">
              <div class="inside"></div>
            </div>
          </li>
        </ul>
        <div class="info-text">Change Player 1 or start the game as X</div>
      </div>

      <div class="game-board"></div>
      <div class="game-info"></div>
    </div>
  </div>

  <!-- dev -->
  <script type="text/javascript" src="./computerPlay.js"></script>
  <script type="text/javascript" src="./gameplay.js"></script>
  <!-- <script type="text/javascript" src="./gameplay.js"></script> -->
  <script type="text/javascript" src="index.js"></script>
  <script type="text/javascript">
    let newGame;

    function startGame(player, gameType = "multi") {
      newGame = new Game(player, gameType);
      newGame.initializeGame();
    }

    function selectGameType(obj) {
      const gameType = obj.getAttribute("value");

      let gamePlayContainer = document.querySelectorAll(".game-play.hidden");
      let gameTypeContainer = document.querySelectorAll(".game-type");

      gameTypeContainer[0].classList.add("hidden");
      if (gamePlayContainer.length > 0) {
        gamePlayContainer[0].classList.remove("hidden");
      }

      // initializing game with player x
      startGame("x", gameType);
    }

    function selectPlayer(obj) {
      const player = obj.getAttribute("value");
      startGame(player);
    }

    function registerPlay(obj) {
      let row = obj.getAttribute("data-row");
      let column = obj.getAttribute("data-column");

      newGame.registerPlay(row, column);
    }
  </script>
</body>

</html>