<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <div class="container">
    <!-- <div class="game-type">
      <input type="radio" id="single-player" name="game-type" value="single">
      <label for="single-player">Single Player</label>
      <input type="radio" id="multi-player" name="game-type" value="multi">
      <label for="multi-player">Multi Player</label>
    </div> -->

    <div class="select-player">
      <ul>
        <li>
          <input type="radio" id="x-player" name="player" value="x" onclick="newGame.selectPlayer(this)" checked>
          <label for="x-player">X</label>
          <div class="check"></div>
        </li>
        <li>
          <input type="radio" id="o-player" name="player" value="o" onclick="newGame.selectPlayer(this)">
          <label for="o-player">O</label>
          <div class="check">
            <div class="inside"></div>
          </div>
        </li>
      </ul>
      <div class="info-text">Change Player 1 or start the game as X</div>
    </div>

    <div class="game-board"></div>
  </div>

  <script type="text/javascript" src="gameplay.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>

</html>